html {
    background: #fff;
    font-family: Helvetica;
/*
    font-family: "Bitstream Vera Sans", "Lucida Grande", "Lucida Sans Unicode", Lucidux, Verdana, Lucida, sans-serif;
    font-family: monospace;
*/
}

body {
    display: block;
    margin: 8px;
    min-width: 340px;
}

tr:nth-child(even) {
    background: #f4f4f4;
}

h1 {
    word-wrap: break-word;
    min-width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    min-width: 100%;
}


th {
    text-align: left;
    font-weight: bold;
    background: #eee;
    border-bottom: 1px solid #aaa;
}

#list {
    border: 1px solid #aaa;
    width: 100%;/
}

a {
    color: #a33;
}

a:hover {
    color: #e33;
}

.icons {
	/*margin: 3px 5px 3px 5px;*/
	height: 23px;
	width: 24px;
}

.back-href {
	/* color: -webkit-link; */
	text-decoration: none;
}

.back-href:hover {
}

#filter-keyword {
	font-weight: 400;
	line-height: 1.5;
	border-radius: 0;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #dddddd;
	display: block;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font-size: 16px;
	width: 98%;
	min-width: 320px;
	max-width: 340px;
}

#filter-keyword:focus {
	color: #495057;
	background-color: #fff;
	border-color: #afbfe1;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(141, 169, 216, 0.25)
}

#table-filter {
	padding-bottom: 1.2em;
}
